@media screen and (min-width: 1000px) {

}

@media  (max-width: 1000px) {
    .container {
  		padding: 50px 0;
  	}

  	.btn {
  		width: 240px;
  	}

  	.hero {
		&__img {
			width: 40%;
			height: 40%;
			margin-top: 0;
		}

		&__head {
			font-size: 2rem;
		}
  	}
}

@media  (max-width: 675px) {
	.page__subhead {
		font-size: 1.5em;
	}

	.btn {
		width: 80%;
	}
}