.page {
	overflow: hidden;

	&__head {
		text-align: center;
		font-size: 32px;
		font-weight: 800;
		color: #000000;
		line-height: 36px;
		padding-bottom: .5em;
	}

	&__subhead {
		text-align: center;
		font-size: 1.2em;
	}

	&__subhead,
	&__text,
	&__link {
		font-family: 'PT Mono', monospace;
	}

	&__text {
		font-size: 14px;
		line-height: 20px;
		text-align: justify;
		padding-bottom: 20px;
	}

	&__link {
		display: inline-flex;
		color: $blue;
		line-height: 20px;
		text-decoration: none;
		letter-spacing: $letter-spacing;
		transition: color 0.2s linear;
		
		&:hover {
			color: black;
		}

		&:active {
			color: $primary;
			opacity: 0.7;
		}
	}
}

.t-color_gray {
	opacity: 0.7;
}