<!-- Bonjour le monde -->
<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

{{> sprite }}

<div class="page">
	<section class="hero-section">
		<div class="container">
			{{> hero }}
		</div>
	</section>


	<section class="features-section">
		<div class="container">
			{{> features }}
		</div>
	</section>

	<section class="portfolio-section">
		<div class="container">
			{{> portfolio }}
		</div>
	</section>

	<section class="contacts-section">
		<div class="container">
			{{> contacts }}
		</div>
	</section>

	<section class="footer-section">
		{{> footer }}
	</section>
</div>

<script src="assets/js/app.js"></script>

</body>
</html>