.glider, .glider-contain {
    margin: 0 auto;
    position: relative;
}

.glider, .glider-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.glider-dot, .glider-next, .glider-prev {
    border: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

.glider-contain {
    width: 100%;
}

.glider {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.glider-track {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
}

.glider.draggable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab;
}

.glider.draggable .glider-slide img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.glider.drag {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.glider-slide {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    min-width: 150px;
}

.glider-slide img {
    max-width: 100%;
}

.glider::-webkit-scrollbar {
    opacity: 0;
    height: 0;
}

.glider-next, .glider-prev {
    position: absolute;
    background: 0 0;
    z-index: 2;
    font-size: 40px;
    text-decoration: none;
    left: -23px;
    top: 30%;
    cursor: pointer;
    color: #666;
    opacity: 1;
    line-height: 1;
    -webkit-transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -o-transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.glider-next:focus, .glider-next:hover, .glider-prev:focus, .glider-prev:hover {
    color: #ccc;
}

.glider-next {
    right: -23px;
    left: auto;
}

.glider-next.disabled, .glider-prev.disabled {
    opacity: .25;
    color: #666;
    cursor: default;
}

.glider-hide {
    opacity: 0;
}

.glider-dots {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.glider-dot {
    display: block;
    cursor: pointer;
    color: #ccc;
    border-radius: 999px;
    background: #ccc;
    width: 12px;
    height: 12px;
    margin: 7px;
}

.glider-dot:focus, .glider-dot:hover {
    background: #ddd;
}

.glider-dot.active {
    background: #a89cc8;
}

@media (max-width: 36em) {
    .glider::-webkit-scrollbar {
        opacity: 1;
        -webkit-appearance: none;
        width: 7px;
        height: 3px;
    }

    .glider::-webkit-scrollbar-thumb {
        opacity: 1;
        border-radius: 99px;
        background-color: rgba(156, 156, 156, 0.25);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
    }
}

/* Default styles */
body {
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4,
ul,
p {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* Blocks */
.btn {
    width: 280px;
    color: white;
    background-color: #0059D9;
    text-align: center;
    font-size: 1.12rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    cursor: pointer;
    padding: 1rem;
}

.btn:hover {
    background-color: black;
}

.btn:active {
    background-color: #0059D9;
    opacity: 0.7;
}

.btn__inputfile {
    display: block;
    width: 100%;
    color: #0059D9;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(31, 64, 111, 0.2);
    border-radius: 4px;
    padding: 0.5rem;
}

.btn__submit {
    width: 100%;
}

body::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #0059D9;
    border-radius: 1em;
}

.tabs {
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    border-top: 1px solid #D2D9E2;
}

.tab__input {
    display: none;
}

.tab-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px;
    font-size: 1.12rem;
    color: #0059D9;
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.tab-label:hover {
    color: #000;
}

.tab-label:after {
    content: "\002B";
    width: 24px;
    height: 24px;
    font-size: 32px;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.tab-content {
    max-height: 0;
    max-width: 480px;
    padding: 0 16px;
    color: #2c3e50;
    background: white;
}

input:checked + .tab-label {
    color: #000;
}

input:checked + .tab-label:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input:checked ~ .tab-content {
    max-height: 1000px;
    padding: 0 16px 16px;
}

.glider {
    position: relative;
    background: #25282A;
}

.glider__inner {
    overflow: hidden;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 7px 22px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 7px 22px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.glider-dots {
    position: absolute;
    right: 0;
    bottom: -40px;
    z-index: 100;
}

.glider-dot {
    background: #71ABFF;
    border: 1px solid #71ABFF;
    width: 8px;
    height: 8px;
}

.glider-dot:hover {
    background: #fff;
}

.glider-dot.active {
    background: transparent;
}

.page {
    overflow: hidden;
}

.page__head {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #000000;
    line-height: 36px;
    padding-bottom: .5em;
}

.page__subhead {
    text-align: center;
    font-size: 1.2em;
}

.page__subhead, .page__text, .page__link {
    font-family: 'PT Mono', monospace;
}

.page__text {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    padding-bottom: 20px;
}

.page__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #71ABFF;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 0.05rem;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.page__link:hover {
    color: black;
}

.page__link:active {
    color: #0059D9;
    opacity: 0.7;
}

.t-color_gray {
    opacity: 0.7;
}

.container {
    margin: 0 auto;
    width: 700px;
    padding: 100px 0;
}

.hero {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero__img {
    height: 49%;
    width: 49%;
    border-radius: 50%;
    margin: 25px 0 38px 0;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s linear;
    transition: -webkit-transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.hero__img:active {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.hero__head {
    font-size: 2.5rem;
}

.hero__text {
    text-align: center;
}

.hero__btn {
    margin: 0;
}

.hero-section {
    background-color: #EFF1F2FF;
    height: 100vh;
}

.features__head {
    text-align: left;
}

.portfolio {
    text-align: center;
}

.portfolio__head {
    color: white;
}

.portfolio__subhead {
    color: white;
    margin-bottom: 80px;
}

.glider-block + .glider-block {
    margin-top: 80px;
}

.glider-block {
    font-size: 14px;
}

.glider-block__head {
    color: white;
    font-size: 18px;
    line-height: 24px;
}

.glider-block__link {
    margin-bottom: 20px;
}

.glider-block__item {
    margin-bottom: 80px;
}

.glider-block__text {
    color: white;
    text-align: justify;
    margin-top: 20px;
    max-width: 520px;
}

.portfolio-section {
    background-color: #25282AFF;
}

.contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-block__text {
    text-align: center;
    margin: 20px 0 40px 0;
}

.contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact-list__item + .contact-list__item {
    margin-left: 1rem;
}

.contact-list__icon {
    height: 48px;
    width: 48px;
    opacity: 0.90;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.contact-list__icon:hover {
    opacity: 1;
}

.contact-list__icon:active {
    opacity: 0.7;
}

.contact-form__box {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
}

.contact-form__input, .contact-form__textarea {
    padding: 0.8rem;
    background: #FFFFFF;
    border: 1px solid rgba(31, 64, 111, 0.2);
    border-radius: 4px;
}

.contact-form__input-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact-form__input {
    width: 340px;
    height: 36px;
}

.contact-form__textarea {
    width: 699px;
    height: 136px;
    margin-top: 20px;
    outline: none;
    resize: none;
}

.contact-form__inputfile {
    display: none;
}

.contact-form__btn-inputfile {
    margin: 20px 0;
    cursor: pointer;
}

.contact-form__btn-inputfile:hover {
    color: black;
}

.contact-form__btn-inputfile:active {
    opacity: 0.7;
}

.contact-form__btn {
    width: 100%;
}

.contacts-section {
    background-color: #EFF1F2FF;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__text {
    color: white;
    opacity: 0.7;
    padding: 0;
}

.footer__link {
    font-size: 14px;
}

.footer-section {
    padding: 1rem 0;
    background-color: #25282AFF;
}

@media (max-width: 1000px) {
    .container {
        width: 520px;
        padding: 50px 0;
    }

    .btn {
        width: 240px;
    }

    .hero__img {
        width: 49%;
        height: 49%;
        margin-top: 115px;
    }

    .hero__head {
        font-size: 2rem;
    }

    .hero__btn {
        margin-bottom: 115px;
    }

    .hero-section {
        height: 100%;
    }

    .portfolio__subhead {
        margin-bottom: 60px;
    }

    .glider-dots {
        right: calc(50% - 33px);
        bottom: -2rem;
    }

    .glider-block__text {
        margin-top: 2rem;
    }

    .glider-block + .glider-block {
        margin-top: 60px;
    }

    .contact-form__input-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contact-form__input {
        width: 100%;
    }

    .contact-form__input + .contact-form__input {
        margin-top: 1rem;
    }

    .contact-form__textarea {
        width: 100%;
        margin-top: 1rem;
    }

    .contact-form__btn-inputfile {
        margin: 1rem 0;
    }

    .contact-form__btn-submit {
        width: 100%;
    }
}

@media (max-width: 675px) {
    .page__subhead {
        font-size: 1.5em;
    }

    .btn {
        width: 100%;
    }

    .container {
        width: 100%;
        padding: 50px 20px;
        margin: 0;
    }

    .hero__img {
        width: 65%;
        height: 65%;
        margin-top: 35px;
    }

    .hero__head {
        font-size: 2rem;
    }

    .hero__btn {
        margin-bottom: 35px;
    }

    .hero-section {
        height: 100%;
    }

    .portfolio__subhead {
        font-size: 1.2rem;
    }
}
