<div class="features">
	<h1 class="page__head features__head">Заголовок</h1>

	<ul class="tabs">
	    <li class="tab">
	        <input class="tab__input" type="radio" id="rd1" name="rd" checked>
	        <label class="tab-label" for="rd1">Свобода</label>
	        <p class="tab-content t-color_gray">
	            Lorem ipsum dolor sit amet.
	        </p>
	    </li>

	    <li class="tab">
	        <input class="tab__input" type="radio" id="rd2" name="rd">
	        <label class="tab-label" for="rd2">Равенство</label>
	        <p class="tab-content t-color_gray">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, sed!
	        </p>
	    </li>

	    <li class="tab">
	        <input class="tab__input" type="radio" id="rd3" name="rd">
	        <label class="tab-label" for="rd3">Братство</label>
	        <p class="tab-content t-color_gray">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur dicta ducimus eos facilis fugiat maiores nam porro soluta voluptatem!
	        </p>
	    </li>

	    <li class="tab">
	        <input class="tab__input" type="radio" id="rd4" name="rd">
	        <label class="tab-label" for="rd4">Трудоустройство</label>
	        <p class="tab-content t-color_gray">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis ipsum quidem tempore totam velit.
	        </p>
	    </li>
	</ul>
</div>