<div class="hero">
	<img 
		class="hero__img"
		src="assets/img/hero/me.jpg"
		alt="person"
		data-aos="fade-down"
		>
	
	<h1 
		class="page__head hero__head"
		data-aos="zoom-in"
		data-aos-delay="250"
		>
		Виталио Жданови
	</h1>

	<p 
		class="page__text hero__text t-color_gray"
		data-aos="zoom-in"
	    data-aos-delay="500"
	    >
		Front-end developer based in pomoyka, Shadrinsk
	</p>
	
	<a 
		class="btn hero__btn"
		href="#"
		data-aos="fade-up"
		data-aos-delay="1000"
		>
		Связаться
	</a>
</div>
<!-- /.hero -->