<div class="portfolio">
	<h1 class="page__head portfolio__head">Мои работы</h1>
	<p class="page__subhead portfolio__subhead t-color_gray">Собраны избранные реально работающие проекты</p>

	<div class="gliders">
		<div class="glider-block">
			<h2 class="glider-block__head">Head</h2>
			<a class="page__link glider-block__link" href="/">map.letapis.by</a>

			<div class="glider-contain single">
				<div class="glider__inner">
					<div class="glider_one">
						<img class="glider__img" src="assets/img/slider/1.jpg" alt="" class="glider__img">
						<img class="glider__img" src="assets/img/slider/2.jpg" alt="" class="glider__img">
						<img class="glider__img" src="assets/img/slider/1.jpg" alt="" class="glider__img">
					</div>
				</div>
				<div class="glider-dots" id="dots_one"></div>
			</div>

			<p class="glider-block__text">
				Межзвездная матеpия на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), многопланово перечеркивает ионный хвост.
			</p>
		</div>

		<div class="glider-block">
			<h2 class="glider-block__head">Head</h2>
			<a class="page__link glider-block__link" href="#">map.letapis.by</a>

			<div class="glider-contain single">
				<div class="glider__inner">
					<div class="glider_two">
						<img class="glider__img" src="assets/img/slider/1.jpg" alt="" class="glider__img">
						<img class="glider__img" src="assets/img/slider/2.jpg" alt="" class="glider__img">
						<img class="glider__img" src="assets/img/slider/1.jpg" alt="" class="glider__img">
					</div>
				</div>
				<div class="glider-dots" id="dots_two"></div>
			</div>

			<p class="glider-block__text">
				Межзвездная матеpия на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), многопланово перечеркивает ионный хвост.
			</p>
		</div>

		<div class="glider-block">
			<h2 class="glider-block__head">Head</h2>
			<a class="page__link glider-block__link" href="#">map.letapis.by</a>

			<div class="glider-contain single">
				<div class="glider__inner">
					<div class="glider_three">
						<img class="glider__img" src="assets/img/slider/1.jpg" alt="" class="glider__img">
						<img class="glider__img" src="assets/img/slider/2.jpg" alt="" class="glider__img">
						<img class="glider__img" src="assets/img/slider/1.jpg" alt="" class="glider__img">
					</div>
				</div>
				<div class="glider-dots" id="dots_three"></div>
			</div>

			<p class="glider-block__text">
				Межзвездная матеpия на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), многопланово перечеркивает ионный хвост.
			</p>
		</div>
	</div>
</div>
<!-- /.portfolio -->

