@import "_vars";
@import "vendor/glider.min.scss";

/* Default styles */
body {
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4,
ul,
p {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

/* Blocks */
@import "blocks/_btn.scss";
@import "blocks/_scrollbar.scss";
@import "blocks/_tabs.scss";
@import "blocks/_glider.scss";

@import "blocks/_page.scss";
@import "blocks/_container.scss";
@import "blocks/_logo-box.scss";
@import "blocks/_hero.scss";
@import "blocks/_features.scss";

@import "blocks/_portfolio.scss";
@import "blocks/_contacts.scss";
@import "blocks/_footer.scss";

@import "blocks/_media.scss";